body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #1e90ff;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
}
